body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-right {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.back {
    color: white;
    background-color: black;
    height: 30px;
    width: 80px;
}

.border {
    border-bottom: 8px double;
}

.containerSection {
    height: 150px;
    margin: 10px;
    flex: 1;
}

.containerSection div {
    border: 1px solid;
    margin: 10px 0;
}

.title {
    margin: 10px;
    border-bottom: 1px solid;
    font-size: 15px;
    padding-bottom: .5em;
}

.paragraph {
    margin: 0 20px;
    font-size: 13px;
}

.postedBy {
    margin: 10px;
    padding-top: 30px;
    color: gray;
}

footer {
    border-top: 8px double black;
    text-align: left;
    border-top: 10px double;
    position: absolute;
    width: 100%;
    margin-top: 0;
    bottom: 0;
}

footer p {
    font-size: 14px;
    margin: 10px 30px;
    font-style: italic; 
    font-weight: bold;
}

footer p a {
    text-decoration: none;
    color: black;
}