.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 8px double black;
}

.container-circle {
    border-right: 3px solid black;
    flex: 45%;
    margin-right: 2px;
    display: flex;
    justify-content: center;
}

.circle {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(rgb(243, 191, 124), rgb(241, 132, 42));
    border-radius: 50%;
    margin: 100px auto;
}

.first-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 48px;
    color: white;
}

.container-form {
    border-left: 3px solid black;
    flex: 45%;
    margin-left: 2px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    font-size: 18px;
} 

.input {
    text-align: left;
    margin: 10px auto;
    width: 80%;
}

input {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    resize: vertical;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 100px;
}

#content {
    height: 100px;
    margin: 10px auto;
}

button {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    color: white;
    background-color: black; 
    font-size: 18px;
}

/* Adds a shadow on hover */
.submit:hover {
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 1);
}